body {
    background-color: rgb(46 46 46);
    color: rgb(160,82,45);
    font-family: Tahoma, Arial, sans-serif; 
}
.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
body a {
    color: rgb(160,82,45);
}
body a:visited {
    color: rgb(160,82,45);
}
body a:active {
    color: rgb(160,82,45);
}
p {
    align="justify";
}
.post-title {
    text-decoration: underline;
    text-decoration: underline;
    margin-left: 5%;
    margin-right: auto;
}
.article-text {
    margin-left: 5%;
    margin-right: 5%;
}
.article-info {
    display: flex;
}
.article-author {
    width: 45%;
    margin-left: 5%;
    font-weight: bold;
}
.article-created-date {
    width: 45%;
    margin-right: 5%;
    text-align: right;
}